<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>">
  <title>HackRVA Badge Wiki</title>
  <meta property="og:title" content="HackRVA Badge Wiki">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <header class="page-header">
    <a href="/" class="page-header__logo" title="Go home" style="text-decoration: none;">
      <img src="./assets/badge-icon.png"/>
    </a>
    <nav>
      <a href="/pages/about/">Pages</a>
    </nav>
  </header>
  <main>
    <h1>Hi</h1>
    <p>Welcome to the HackRVA RVASec badge wiki!</p>

    <p><a href="/pages/about/">About the badge</a></p>
    <p><a href="/pages/simulator/">Simulator</a></p>
    <p>github: <a href="https://github.com/HackRVA/badge2025">https://github.com/HackRVA/badge2025</a></p>
  </main>
</body>

</html>
